<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uredi Glumca</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Uredi Glumca</h1>
    <form th:action="@{/glumci/edit-glumac/{id}(id=${glumac.id})}" th:object="${glumac}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="ime">Ime Glumca</label>
            <input type="text" id="ime" name="ime" class="form-control" th:field="*{ime}" required>
        </div>
        <div class="form-group">
            <label for="biografija">Biografija</label>
            <textarea id="biografija" name="biografija" class="form-control" th:field="*{biografija}" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="slikaUrl">Slika Glumca (URL)</label>
            <input type="text" id="slikaUrl" name="slikaUrl" class="form-control" th:field="*{slikaUrl}" placeholder="Unesite URL slike glumca">
        </div>
        <div class="form-group">
            <label for="datumRodjenja">Datum Rodjenja</label>
            <input type="date" id="datumRodjenja" name="datumRodjenja" class="form-control" th:field="*{datumRodjenja}" required>
        </div>
        <div class="form-group">
            <label for="mjestoRodjenja">Mjesto Rodjenja</label>
            <input type="text" id="mjestoRodjenja" name="mjestoRodjenja" class="form-control" th:field="*{mjestoRodjenja}" required>
        </div>
        <button type="submit" class="btn btn-primary">Ažuriraj Glumca</button>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
