<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalji Glumca</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Stil za ograničavanje veličine slike */
        .actor-image {
            max-width: 200px; /* Postavite maksimalnu širinu slike */
            max-height: 300px; /* Postavite maksimalnu visinu slike */
            width: auto; /* Automatski prilagodi širinu */
            height: auto; /* Automatski prilagodi visinu */
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Detalji Glumca</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${glumac.ime}">Ime Glumca</h2>
            <p><strong>Biografija:</strong> <span th:text="${glumac.biografija}"></span></p>
            <p><strong>Slika Glumca:</strong></p>
            <img th:src="${glumac.slikaUrl}" alt="Slika Glumca" class="img-fluid actor-image" th:if="${glumac.slikaUrl}">
            <p><strong>Datum Rodjenja:</strong> <span th:text="${#temporals.format(glumac.datumRodjenja, 'dd.MM.yyyy')}"></span></p>
            <p><strong>Mjesto Rodjenja:</strong> <span th:text="${glumac.mjestoRodjenja}"></span></p>
            <h4>Filmovi:</h4>
            <ul>
                <li th:each="film : ${glumac.filmovi}" th:text="${film.naziv}"></li>
            </ul>

        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
