<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Korisnikova Stranica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Dobrodošli, [[${korisnik.ime}]]!</h1> <!-- Pretpostavljamo da je `user` objekt dostupan u modelu -->
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Odjavi se</button>
    </form>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Moje Recenzije</h5>
            <p class="card-text">Pregledajte recenzije koje ste napisali.</p>
            <ul>
                <li th:each="recenzija : ${recenzije}">
                    <span th:text="${recenzija.film.naziv}">Naziv Filma</span>:
                    <span th:text="${recenzija.tekst}">Tekst Recenzije</span>
                    (Ocjena: <span th:text="${recenzija.ocjena}">Ocjena</span>)
                </li>
            </ul>
        </div>
    </div>
    <!-- Ostale funkcionalnosti -->
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
