<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Popis filmova</title>
    <!-- Uključivanje Bootstrap CSS-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .film-image {
            width: 100%;
            height: auto;
            border-radius: 0.25rem;
        }
        .film-item {
            margin-bottom: 20px;
        }
        .details-button {
            margin-top: 10px;
        }
        /* Dodatni stilovi za navigacijski gumb */
        .profile-button {
            position: absolute;
            right: 0;
            top: 0;
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Popis filmova</h1>
    <!-- Gumb Moj profil -->

    <a href="/profile" class="btn btn-secondary profile-button">Moj profil</a>

    <div class="row">
        <!-- Iteracija kroz listu filmova -->
        <div class="col-md-4" th:each="film : ${filmovi}">
            <div class="card film-item">
                <img th:src="${film.slikaUrl}" alt="Slika filma" class="card-img-top film-image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${film.naziv}">Naziv filma</h5>
                    <p class="card-text" th:text="${film.opis}">Opis filma</p>
                    <!-- Gumb za detalje o filmu -->
                    <a th:href="@{/filmovi/film-details/{id}(id=${film.id})}" class="btn btn-primary details-button">Detalji</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uključivanje Bootstrap JS i pomoćnih biblioteka -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
