<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Redatelja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Dodaj Novog Redatelja</h1>
    <form th:action="@{/redatelji/add-redatelj}" th:object="${redatelj}" method="post">
        <div class="form-group">
            <label for="ime">Ime Redatelja</label>
            <input type="text" id="ime" name="ime" class="form-control" th:field="*{ime}" required>
        </div>
        <div class="form-group">
            <label for="biografija">Biografija</label>
            <textarea id="biografija" name="biografija" class="form-control" th:field="*{biografija}" rows="3" placeholder="Unesite biografiju redatelja"></textarea>
        </div>
        <div class="form-group">
            <label for="slikaUrl">Slika Redatelja (URL)</label>
            <input type="text" id="slikaUrl" name="slikaUrl" class="form-control" th:field="*{slikaUrl}" placeholder="Unesite URL slike redatelja">
        </div>
        <div class="form-group">
            <label for="datumRodjenja">Datum Rođenja</label>
            <input type="date" id="datumRodjenja" name="datumRodjenja" class="form-control" th:field="*{datumRodjenja}" required>
        </div>
        <div class="form-group">
            <label for="mjestoRodjenja">Mjesto Rođenja</label>
            <input type="text" id="mjestoRodjenja" name="mjestoRodjenja" class="form-control" th:field="*{mjestoRodjenja}" placeholder="Unesite mjesto rođenja redatelja">
        </div>
        <button type="submit" class="btn btn-primary">Spremi Redatelja</button>
    </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
