<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalji Redatelja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Detalji Redatelja</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${redatelj.ime}">Ime i Prezime Redatelja</h2>
            <!-- Ovdje dodajte dodatne informacije o redatelju ako su dostupne -->
            <p class="card-text"><strong>Filmovi:</strong></p>
            <ul>
                <li th:each="film : ${redatelj.filmovi}" th:text="${film.naziv}">Naziv Filma</li>
            </ul>
            <a th:href="@{/redatelji/redatelj-list}" class="card-link">Povratak na listu redatelja</a>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
