<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalji Redatelja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Stil za ograničavanje veličine slike */
        .director-image {
            max-width: 200px; /* Postavite maksimalnu širinu slike */
            max-height: 300px; /* Postavite maksimalnu visinu slike */
            width: auto; /* Automatski prilagodi širinu */
            height: auto; /* Automatski prilagodi visinu */
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1>Detalji Redatelja</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${redatelj.ime}">Ime Redatelja</h2>
            <p><strong>Biografija:</strong> <span th:text="${redatelj.biografija}"></span></p>
            <p><strong>Slika Redatelja:</strong></p>
            <img th:src="${redatelj.slikaUrl}" alt="Slika Redatelja" class="img-fluid director-image" th:if="${redatelj.slikaUrl}">
            <p><strong>Datum Rođenja:</strong> <span th:text="${#temporals.format(redatelj.datumRodjenja, 'dd.MM.yyyy')}"></span></p>
            <p><strong>Mjesto Rođenja:</strong> <span th:text="${redatelj.mjestoRodjenja}"></span></p>
            <h4>Filmovi:</h4>
            <ul>
                <li th:each="film : ${redatelj.filmovi}" th:text="${film.naziv}"></li>
            </ul>
            <a th:href="@{/redatelji/redatelj-list}" class="card-link">Povratak na listu redatelja</a>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
